# exclude everything
private/*
private-code/*

# exception to the rule
!private/.gitkeep
!private-code/.gitkeep

.tool-versions

.spacemacs.env

.spacemacs.d/emacs-custom-settings.el
nvim/.luarc.json
tmux-powerline/config.sh
install-script/pve/.ansible/roles
__pycache__
install-script/archiso/work/
install-script/archiso/out/
